@model ReflectionIT.Mvc.Paging.PagingList<CasualShop.BLL.DtoModels.ClothesDto>
@using ReflectionIT.Mvc.Paging
@addTagHelper*,ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Main Page";
}

<style>
    .shop-title {
        text-align: center;
        vertical-align: middle;
        line-height: 90px;
        background-color: darkorange;
        font-size: 200%;
    }
    .card-margin{
        margin-top: 20px;
    }
    .card-style{
        background: #000000;
    }
</style>

<div class="shop-title">Casual shop best prices</div>

<div class="container">

    <div class="row">
        @foreach (var clothes in Model)
        {
            <div class="col-lg-4 col-md-6 col-12 d-flex align-items-stretch card-margin">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-img-top">
                        <img class="img-fluid img-container" src="https://investfuture.ru/images/no_img.jpeg" />
                    </div>
                    <div class="card-header">
                        @clothes.Name
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            @if (clothes.Description.Length > 50)
                            {
                                <div>@clothes.Description.Substring(0, 50)...</div>
                            }
                            else
                            {
                                <div>@clothes.Description</div>
                            }
                        </div>
                        <div class="card-text">
                            Price: @clothes.Price $
                        </div>
                    </div>
                    <div class="card-footer">
                        <button onclick="location.href='@Url.Action("ClothesInfo","Shop",new {id = clothes.Id })'" class="btn border-warning text-warning">
                            BUY
                        </button>

                    </div>
                </div>
            </div>
        }    
    <div>
        <nav aria-label="Clothes navigation supplier">
            @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
        </nav>
    </div>
       
        
    </div>

</div>
