@model List<CasualShop.BLL.DtoModels.BasketDto>

@using Microsoft.AspNetCore.Identity
@using CasualShop.Areas.Identity.Data
@using CasualShop.BLL

@inject ServicesManager ServiceManager
@inject SignInManager<CasualShopUser> SignInManager
@inject UserManager<CasualShopUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .imgfit{
        width: 50px; 
        height: 50px; 
        object-fit: cover;
    }
</style>

<h1>Basket</h1>
@if (@SignInManager.IsSignedIn(User))
{
    <div class="container">
        <div class="row">
            <table class="table table-bordered table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (@UserManager.GetUserId(User) == item.CurrentUser && item.isProcessed == false)
                        {
                            <tr>
                                <th scope="row"></th>
                                <th>
                                    @if (ServiceManager.Clothes.GetClothesModelById(item.ClothesId).Image == null)
                                    {
                                        <img class="imgfit" src="https://investfuture.ru/images/no_img.jpeg" />
                                    }
                                    else
                                    {
                                        <img class="imgfit" 
                                             src="@("~/Image/" + ServiceManager.Clothes.GetClothesModelById(item.ClothesId).Image.ImageName)"
                                             asp-append-version="true" />
                                    }
                                </th>
                                <th>
                                    @ServiceManager.Clothes.GetClothesModelById(item.ClothesId).Name
                                </th>
                                <th>
                                    @ServiceManager.Clothes.GetClothesModelById(item.ClothesId).Price
                                </th>
                                <th>
                                    <button type="button" class="bg-danger"
                                            onclick="location.href='@Url.Action("Delete","Basket",
                                       new { basketId = item.Id})'">
                                        X
                                    </button>

                                </th>
                            </tr>       
                        }
                    }
                </tbody>
            </table>
        </div>        
        <div class="d-flex justify-content-center">
            <h3>Making an order</h3>
        </div>           
        <div class="row">
            <div class="col"></div>
            <div class="col">
            <form asp-action="Index" asp-controller="Basket">
                <div>
                    <div>                        
                        <input type="hidden" name="basketCurrentUserId" value="@UserManager.GetUserId(User)"/>
                    </div>
                    <div>
                        <div>
                            <label>First Name</label>
                        </div>
                        <div>
                            <input name="firstName" class="bg-dark rounded"/>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Last Name</label>
                        </div>
                        <div>
                            <input name="lastName" class="bg-dark rounded"/>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Phone number</label>
                        </div>
                        <div>
                            <input name="phoneNum" class="bg-dark rounded"/>
                        </div>
                    </div>
                    <div>
                        <div>
                            <label>Email</label>
                        </div>
                        <div>
                            <input name="email" class="bg-dark rounded"/>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-dark mt-2"  value="Make order bro"/>
                    </div>
                </div>
            </form>
            </div>
            <div class="col"></div>
        </div>

    @*<button onclick="location.href='@Url.Action("Index","Basket",new {
                               basketCurrentUserId = UserManager.GetUserId(User),
                           firstName = "Andrew",
                           lastName = "Fedorenko",
                           phoneNum = "123234324",
                           email = "asdasdasdasd"})'">
        Make order
    </button>*@
    </div>
}